<h3>Autor de la práctica</h3>
<p><%= autor %></p>
<img src="./images/logo.png" alt="mi logo" height="42" width="42"> <br>
<iframe width="150" height="100" src="https://www.youtube.com/embed/OMOVFvcNfvE" frameborder="0" allowfullscreen></iframe>
